/* src/components/Matrix.css */
html, body, #root, .App {
    height: 100%;
    margin: 0;
  }
  
  .matrix {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .matrix-row {
    display: flex;
    flex: 1;
  }
  
  .matrix-row > div {
    border: 1px solid  #198cac;
    padding: 20px;
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  