/* src/components/Matrix.css */
html, body, #root, .App {
    height: 100%;
    margin: 0;
  }
  
  .matrix {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .matrix-row {
    display: flex;
    flex: 1;
  }
  
  .matrix-row > div {
    border: 1px solid #cbd5e1;
    background-color: #f8fafc;
    color: #0f172a;
    padding: 20px;
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .matrix-row > div:hover {
    background-color: #f1f5f9;
  }
  